version: "3.9"

services:
  discord-bot:
    build: .
    container_name: discord_bot
    restart: unless-stopped
    environment:
      - DISCORD_TOKEN=${DISCORD_TOKEN}
    volumes:
      - .:/app
    command: python bot.py
